body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    color: #eaeef3;
}

.input-wrapper {
    text-align: center; /* Zarovná obsah na střed */
    margin: 20px 0; /* Přidá vertikální mezery nad a pod wrapperem */
}

input, button {
    padding: 10px;
    margin: 5px 10px; /* Přidá mezery okolo inputu a tlačítka */
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    display: block; /* Zajistí, že tlačítko bude na novém řádku a zabere celou šířku svého kontejneru */
    width: 12%; /* Nastaví šířku tlačítka na 50% šířky wrapperu */
    margin: 10px auto; /* Centruje tlačítko horizontálně a přidává vertikální mezery */
    padding: 12px; /* Zvětší padding pro lepší klikatelnost */
    background-color: #0084ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#weatherResult {
    width: 60%;
    margin: 20px auto;
    padding: px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    input, button {
        width: 100%;
        margin-top: 10px;
    }

    #weatherResult {
        padding: 10px;
    }
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1; /* Ujistěte se, že video je za obsahem */
}


#currentWeatherResult {
    margin: 20px auto;
    padding: 15px;
    background-color: white;
    justify-content: center;
    align-items: flex-start;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 20%; /* Přizpůsob podle preferencí */
}


 #forecastWeatherResult {
    margin: 20px auto;
    padding: 15px;
    background-color: transparent;
    justify-content: center;
    align-items: flex-start;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 20%; /* Přizpůsob podle preferencí */
}



.dayForecast {
    flex-basis: 18%;
    margin: 20px;
    background-color: white;
    min-width: 220px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
}

@media (max-width: 600px) {
    .dayForecast {
        flex-basis: 80%; /* Zajistí, že rámečky se zobrazí pod sebou na malých zařízeních */
    }
}
